
.button {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-sz-lg;
    font-weight: 300;
    line-height: 1;
    padding: $s-size $m-size;
    text-decoration: none;
    transition: background 0.3s ease;
}

.button:hover {
    background: darken($color: $blue, $amount: 10%);
    border-radius: 5px;
}

.button--link {
    background: none;
}

.button--link:hover {
    background: $blue;
}

.button--secondary { 
    background: #888888;
}

.button--secondary:hover { 
    background: red;
}
